.converter-page {
  height: 100vh;
  padding-top: 50px;

  input {
    margin-bottom: 10px;

    &.invalid-data {
      border-color: #ff3535;
      color: #ff3535;
    }
  }

  .prepend-0x {
    position: relative;

    input {
      padding-left: 35px;
    }

    .prepend-input {
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

}
